* text=auto
* eol=lf

/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
