jobs:
  include:
    - name: HHVM 3.18
      dist: trusty
      language: php
      php: hhvm-3.18
      before_install:
        - travis_retry composer self-update --2
        - travis_retry composer require "phpunit/phpunit:^5.7.27" --dev --no-update --no-interaction
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
    - name: HHVM 3.24
      dist: trusty
      language: php
      php: hhvm-3.24
      before_install:
        - travis_retry composer self-update --2
        - travis_retry composer require "phpunit/phpunit:^5.7.27" --dev --no-update --no-interaction
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
    - name: HHVM 3.30
      dist: trusty
      language: php
      php: hhvm-3.30
      before_install:
        - travis_retry composer self-update --2
        - travis_retry composer require "phpunit/phpunit:^5.7.27" --dev --no-update --no-interaction
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
    - name: PHP 5.4
      dist: trusty
      language: php
      php: 5.4
      before_install: travis_retry composer self-update --2
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
    - name: PHP 5.5.9
      dist: trusty
      language: php
      php: 5.5.9
      before_install: travis_retry composer self-update --2
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
    - name: PHP 5.5
      dist: trusty
      language: php
      php: 5.5
      before_install: travis_retry composer self-update --2
      install: travis_retry composer update --no-interaction --no-progress
      script: vendor/bin/phpunit
