language: php
dist: trusty
sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.5.9
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm

install: travis_retry composer install --no-interaction --prefer-source

script: vendor/bin/phpunit
