parameters:
  level: max
  ignoreErrors:
    - '#Unable to resolve the template type#'
    - '#Method Dotenv\\Parser\\EntryParser::processChar\(\) should return GrahamCampbell\\ResultType\\Result<array<int, bool\|int\|string>, string> but returns GrahamCampbell\\ResultType\\Result<array<int, [a-z\|\,]+>, mixed>.#'
