parameters:
  level: max
  ignoreErrors:
    - '#Unable to resolve the template type#'
    - '#Method Dotenv\\Parser\\EntryParser::processChar\(\) should return GrahamCampbell\\ResultType\\Result<array.+, string> but returns GrahamCampbell\\ResultType\\Result<array.+, mixed>.#'
    - '#Parameter \#1 \$callable of method PhpOption\\Option<bool\|string>::map\(\) expects callable\(bool\|string\): mixed, Closure\(string\): mixed given.#'
