parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$callback of function array_reduce expects callable\\(GrahamCampbell\\\\ResultType\\\\Result\\<array\\{Dotenv\\\\Parser\\\\Value, int\\}, mixed\\>\\|GrahamCampbell\\\\ResultType\\\\Result\\<array\\{mixed, int\\}, string\\>, string\\)\\: \\(GrahamCampbell\\\\ResultType\\\\Result\\<array\\{Dotenv\\\\Parser\\\\Value, int\\}, mixed\\>\\|GrahamCampbell\\\\ResultType\\\\Result\\<array\\{mixed, int\\}, string\\>\\), Closure\\(GrahamCampbell\\\\ResultType\\\\Result, string\\)\\: GrahamCampbell\\\\ResultType\\\\Result\\<array\\{Dotenv\\\\Parser\\\\Value, int\\}, string\\> given\\.$#"
			count: 1
			path: src/Parser/EntryParser.php

		-
			message: "#^Only booleans are allowed in a negated boolean, int\\|false given\\.$#"
			count: 1
			path: src/Parser/Lexer.php

		-
			message: "#^Parameter \\#1 \\$readers of class Dotenv\\\\Repository\\\\RepositoryBuilder constructor expects array\\<Dotenv\\\\Repository\\\\Adapter\\\\ReaderInterface\\>, array\\<Dotenv\\\\Repository\\\\Adapter\\\\ReaderInterface\\|S\\> given\\.$#"
			count: 2
			path: src/Repository/RepositoryBuilder.php

		-
			message: "#^Parameter \\#2 \\$writers of class Dotenv\\\\Repository\\\\RepositoryBuilder constructor expects array\\<Dotenv\\\\Repository\\\\Adapter\\\\WriterInterface\\>, array\\<Dotenv\\\\Repository\\\\Adapter\\\\WriterInterface\\|S\\> given\\.$#"
			count: 2
			path: src/Repository/RepositoryBuilder.php
